// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;

$primary: #9e0000;
$primary--light: #CF6855;
$primary--lighter: #e4aaa0;
$secondary: #AF9164;
$light: #F7F3E3;
$gray: #B3B6B7;
$dark-gray: #818688;
$light-gray: #D9DBDB;
$black: #2B2118;
