// Specific CSS for your home-page
.home-banner {
    background-image: url(/assets/banner.jpeg);
    height: 1000px;
    width: 100%;
    background-size: cover;
}
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.search-section {
    width: 40%;
    margin: auto;
    padding-top: 200px;
}
.transparent-input {
    background-color: transparent;
}