#search {
    background: $white;
    padding: 50px;
    border-radius: 17px;
    box-shadow: 0 2px 30px rgba(0,0,0,.1);
    margin-top: 50px;
    margin-bottom: 25px;
}

h1 {
  font-family: 'Quattrocento Sans', sans-serif;
  font-style: normal;

}
