   <footer class="footer">
    <ul>
      <li><a href="https://www.facebook.com/lewagongermany/?brand_redir=116941945171079"><i class="fa fa-facebook-f"></i></a></li>
      <li><a href="https://www.instagram.com/diondoingstuff/"><i class="fa fa-instagram"></i></a></li>
      <li><a href="https://twitter.com/chucknorris"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://vimeo.com/369265221"><i class="fa fa-vimeo-square"></i></a></li>
      <li><a href="https://github.com/lentrup"><i class="fa fa-github"></i></a></li>
    </ul>
    <p>From Penguins with Love!</p>
  </footer>
