   <div class="footer mt-5">
    <ul>
      <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-telegram"></i></a></li>
      <li><a href="#"><i class="fa fa-gitlab"></i></a></li>
    </ul>
    <p>From Penguins with Love!</p>
  </div>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
