.btn {
  transition: all .3s;
  border-radius: 3px;
}
.btn-primary {
  background-color: $primary;
  border-color: $primary;
  &:hover,
  &:active,
  &:focus,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-color: $primary--light;
    border-color: $primary--light;
  }
}



.btn-secondary {
  background-color: transparent;
  border-color: $secondary;
  color: $secondary;
  &:hover,
  &:active,
  &:focus {
    background-color: $secondary;
    color: $white;
  }
}

.btn-big {
  padding: 15px 40px;
  font-size: 24px;
  text-transform: uppercase;
  font-family: Lato, Helvetica, sans-serif;
  font-style: italic;
}
