@import "config/colors";

.card-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  text-align: center;
  &.big {
    grid-template-columns: 1fr 1fr;
    .card {
      height: 500px;
      padding: 365px 15px 15px;
      .card-image {
        height: 350px;
      }
    }
  }
  a {
    color: $primary;
    &:hover {
      color: $primary--light;
      text-decoration: none;
      .card {
        width: 110%;
        z-index: 100;
      }
    }
  }
  .card {
    height: 350px;
    width: 100%;
    color: $black;
    padding: 215px 15px 15px;
    transition: all .3s;
    h3 {
      color: $primary;
      margin-top: 15px;
    }
    .card-image {
      background-size: cover;
      height: 200px;
      background-position: center;
      transition: all .3s;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-repeat: no-repeat;
    }
  }
}
