#login {
    background: $white;
    padding: 50px;
    border-radius: 17px;
    box-shadow: 0 2px 30px rgba(0,0,0,.1);
    margin-bottom: 25px;
    margin: auto;
    margin-top:10%;
    justify-content: center;
}

#singin {
    background: $white;
    padding: 50px;
    border-radius: 17px;
    box-shadow: 0 2px 30px rgba(0,0,0,.1);
    margin-bottom: 25px;
    margin: auto;
    margin-top:10%;
    justify-content: center;
}

#changepw {
    background: $white;
    padding: 50px;
    border-radius: 17px;
    box-shadow: 0 2px 30px rgba(0,0,0,.1);
    margin-bottom: 25px;
    margin: auto;
    margin-top:10%;
    justify-content: center;
}

#edit {
    margin-bottom: 25px;
    margin: auto;
    justify-content: center;
}
