.navbar {
  background: white;
  height: 60px;
  justify-content: flex-end;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 40px;
}

.navbar-light {
  .navbar-brand {
    position: absolute;
    left: calc(50% - 20px);
    right: calc(50% - 20px);
    margin: 0;
    width: 40px;
  }
}

.nav-item.show {
  cursor: pointer;
}
