.nav-link{
  color: $black;
  text-align: center;
  background-color: $white;
  border-color: $white;
 }

.nav-link:hover {
  color: $black;
}

.nav-tabs {
  border-bottom: none;
  .nav-link {
    border-radius: 8px;
  }
}

.nav-dash{
  padding: 5px;
  border-radius: 8px;
  margin: 25px 5px 0;
  transition: all .3s;

  &:hover{
    transform: scale(1.1);
    z-index: 100;
  }
}


